/*****
  * =========== CJui-vue 基于CSS3编写的scss样式 ================ 
  ***
  * === cjui-icon cjui-icon-svg 样式
  * === 更多文档说明请查看 cjary.cn
*/

.cjui-icon-svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
