// 系统颜色查询表
$brand-primary: #2cd6bf;
$brand-success: #44d444;
$brand-warning: #ff9800;
$brand-danger: #de4b33;
$brand-info: #9c9c9c;

// 界面配色表
$osfrontItemColor: #2cd6bf;  // originsystem 系统前台主题色
$osadminItemColor: #2cd6bf;  // originsystem 系统后台主题色
$wbgItemColor: #2cd6bf;      // originsystem CJUI前端指南主题色