/*****
  * =========== CJui-vue 基于CSS3编写的scss样式 ================ 
  ***
  * === button样式引入
  * === 更多文档说明请查看 cjary.cn
*/

// Brand Colors  品牌颜色
// -------------------------

$brand-primary: #4d90fc;
$brand-success: #44d444;
$brand-warning: #ff9800;
$brand-danger: #de4b33;
$brand-info: #9c9c9c;

// Themes Colors  主题颜色表
// -------------------------

$CJUI-BlueGreen: #12f3d5;

// 动画生成器
// -------------------------

@keyframes pulse {  // 脉动阴影
    100% {
      box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
    }
}

// 基础混合器
// -------------------------

@mixin buttonType($color) {  // type按钮，传入主题色
    & {
      color: #fff;
      background-color: $color;
      border-color: $color;
    }
    &:hover, &:focus {
      color: #fff;
      border-color: lighten($color: $color, $amount: 10%);
      background-color: lighten($color: $color, $amount: 10%);
    }
    &:active {
      color: #fff;
      border-color: darken($color, 5%);
      background-color: darken($color, 5%);
      box-shadow: unset;
    }
}

@mixin buttonPlain($color) {  // plain按钮，传入主题色
    & {
        color: $color;
        background-color: lighten($color: $color, $amount: 40%);
        border-color: lighten($color: $color, $amount: 20%);
    }
    &:hover, &:focus {
        color: #fff;
        background-color: $color;
        border-color: $color;
    }
    &:active {
        color: #fff;
        border-color: darken($color, 5%);
        background-color: darken($color, 5%);
        box-shadow: unset;
    }
}

@mixin buttonGhost($color) {  // ghost按钮，传入主题色
  & {
      color: $color;
      background-color: transparent;
      border-color: $color;
  }
  &:hover, &:focus {
      color: lighten($color: $color, $amount: 10%);
      background-color: rgba($color, 0.2);
      border-color: $color;
  }
  &:active {
      color: $color;
      border-color: rgba($color, 0.3);
      background-color: rgba($color, 0.3);
      box-shadow: unset;
  }
}




