/*****
  * =========== CJui-vue 样式扩展 ================ 
  ***
  * === button
  * === 更多文档说明请查看 cjary.cn
*/

// 关闭
// -------------------------
@mixin buttonClose($bgColor) {  // 关闭
    & {
      color: $bgColor;
    }
    &:hover,
    &:focus {
      border-color: $bgColor;
      box-shadow: inset -50px 0 0 0 $bgColor, inset 50px 0 0 0 $bgColor;
    }
}
.cjui-button.cjui-button--close_0 {  
    & {
      background: transparent;
      border: 2px solid;
      color: $CJUI-BlueGreen;
      transition: 0.25s;
      border-radius: 0;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      border-color: $CJUI-BlueGreen;
      color: #fff;
      box-shadow: inset -50px 0 0 0 $CJUI-BlueGreen, inset 50px 0 0 0 $CJUI-BlueGreen;
    }
}
.cjui-button--primary.cjui-button--close_0 {  
    @include buttonClose($brand-primary);
}
.cjui-button--success.cjui-button--close_0 {
    @include buttonClose($brand-success);
}
.cjui-button--info.cjui-button--close_0 {  
    @include buttonClose($brand-info);
}
.cjui-button--warning.cjui-button--close_0 {  
    @include buttonClose($brand-warning);
}
.cjui-button--danger.cjui-button--close_0 {  
    @include buttonClose($brand-danger);
}

// 提升
// -------------------------
@mixin buttonRaise($bgColor) {  // 提升
    & {
      color: $bgColor;
    }
    &:hover,
    &:focus {
      border-color: lighten($color: $bgColor, $amount: 10%);
      box-shadow: 0 0.5em 0.5em -0.4em lighten($color: $bgColor, $amount: 10%);
    }
}
.cjui-button.cjui-button--raise_0 { 
    & {
      background: transparent;
      border: 2px solid;
      color: $CJUI-BlueGreen;
      transition: 0.25s;
      border-radius: 0;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      border-color: lighten($color: $CJUI-BlueGreen, $amount: 10%);
      color: #fff;
      box-shadow: 0 0.5em 0.5em -0.4em lighten($color: $CJUI-BlueGreen, $amount: 10%);
      transform: translateY(-0.25em);
    } 
}
.cjui-button--primary.cjui-button--raise_0 {  
    @include buttonRaise($brand-primary);
}
.cjui-button--success.cjui-button--raise_0 {
    @include buttonRaise($brand-success);
}
.cjui-button--info.cjui-button--raise_0 {  
    @include buttonRaise($brand-info);
}
.cjui-button--warning.cjui-button--raise_0 {  
    @include buttonRaise($brand-warning);
}
.cjui-button--danger.cjui-button--raise_0 {  
    @include buttonRaise($brand-danger);
}

// 交叠
// -------------------------
@mixin buttonOffset($bgColor, $bgColorHover) {
    & {
      color: $bgColor;
    }
    &:hover,
    &:focus {
      border-color:  $bgColorHover;
      box-shadow: 0 0.5em 0.5em -0.4em  $bgColorHover;
    }
    & {
      box-shadow: 0.3em 0.3em 0 0 $bgColor, inset 0.3em 0.3em 0 0 $bgColor;
    }
    &:hover, &:focus {
      box-shadow: 0 0 0 0  $bgColorHover, inset 6em 3.5em 0 0  $bgColorHover;
    }
}
.cjui-button.cjui-button--offset_0 {  
    & {
      background: none;
      border: 2px solid;
      color: $brand-success;
      transition: 0.25s;
      border-radius: 0;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      border-color: $CJUI-BlueGreen;
      color: #fff;
      box-shadow: 0 0.5em 0.5em -0.4em $CJUI-BlueGreen;
      transform: translateY(-0.25em);
    }
    & {
      box-shadow: 0.3em 0.3em 0 0 $brand-success, inset 0.3em 0.3em 0 0 $brand-success;
    }
    &:hover, &:focus {
      box-shadow: 0 0 0 0 $CJUI-BlueGreen, inset 6em 3.5em 0 0 $CJUI-BlueGreen;
    }
}
.cjui-button--primary.cjui-button--offset_0 {  
    @include buttonOffset($brand-primary, #12f3d5);
}
.cjui-button--success.cjui-button--offset_0 {
    @include buttonOffset($brand-success, #12f3d5);
}
.cjui-button--info.cjui-button--offset_0 {  
    @include buttonOffset($brand-info, #12f3d5);
}
.cjui-button--warning.cjui-button--offset_0 {  
    @include buttonOffset($brand-warning, #12f3d5);
}
.cjui-button--danger.cjui-button--offset_0 {  
    @include buttonOffset($brand-danger, #12f3d5);
}
