$osadminItemColor: #2cd6bf;  // originsystem 系统后台主题色
$osadminNavLeftBgcolor: #2b2f3a;  // originsystem 系统导航左侧背景色
$osadminNavLeftColor: #bfcbd9;  // originsystem 系统导航左侧文字背景色
$osadminNavRightHBgcolor: #333;  // originsystem 系统导航右侧顶部背景色
$osadminNavRightHcolor: #dadada;  // originsystem 系统导航右侧顶部文字背景色
$osadminNavRightBgcolor: #f9f9f9;  // originsystem 系统导航右侧背景色

$brand-primary: #2cd6bf;
$brand-success: #44d444;
$brand-warning: #ff9800;
$brand-danger: #de4b33;
$brand-info: #9c9c9c;