/*****
  * =========== osa-xxx 日间模式 ================ 
  *** 
  * === 
*/

// 数据看板卡片样式
:deep(.osa-card-board) {
    border: 1px solid #dcdfe6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);

    .osa-card-title {
        color: #686868;
    }
}