/*****
  * =========== BookWorld OrginWorld 全局样式 ================ 
  *** 
  * === 
*/

@import '../import-list/variable.scss';

// =====================
// element-plus 全局样式
// =====================

// select popper
.el-select__popper.bw-originworld.el-popper[role=tooltip][data-popper-placement^=bottom] {
    // layout
    border-radius: 0;
    background: darken($color: #464a56, $amount: 10%);

    // color
    & {
        border: 1px solid darken($color: $brand-primary, $amount: 10%);
    }
    .el-popper__arrow::before {
        background: lighten($color: $brand-primary, $amount: 10%);
    }
    .el-select-dropdown__item.hover,
    .el-select-dropdown__item:hover {
        background-color: #464a56;
        color: #c3c3c3;
    }
    .el-select-dropdown__item.selected {
        color: #14a7b6;
    }
}